div.block a.group {
    font-size: 12px;
    padding-left: 5px;
    font-weight: normal;
}

div.files_list_file, div.files_list_file:visited {
    position: relative;
    width: 142px;
    height: 160px;
    display: block;
    float: left;
    /*background: url(images/dashboard-module.gif?abc=123) top left no-repeat;*/
    margin: 0 8px 8px 0;
    text-align: center;
    color: #444444;
    border-radius: 4px;
    box-shadow: 2px 1px 5px #999999;
}

.files_list_file.file_uploading {
    background-color: #ffcccc;
}

div.files_list_file img {
    margin-top: 10px;
}
div.files_list_file span {
    margin-top: 10px;
    display: block;
}

div.files_list_file div.file_controls {
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 0;
    display:none;
}

div.files_list_file div.file_controls p {
    margin: 0;
}

#files_container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 420px;
    border: 0;
}
#files_container.dragstart {
    background:url(images/files_drop_here.png) #eaffef no-repeat center;
    border:4px dashed #999999;
}

div.file_img_wrapper {
    max-height: 100px;
    overflow: hidden;
}

div.files_list_file span.file_name {
    max-width: 132px;
    overflow: hidden;
    margin: 10px 5px 0;
    line-height: 14px;
    font-size: 11px;
    max-height: 40px;
}

.file_progress_bar {
    position: absolute;
    top: 4px;
    left: 21px;
    width: 0px;
    height: 11px;
    background-color: #ccccff;
    border: 1px solid #ccbbff;
    border-radius: 4px;
}

.file_progress_bar_status {
    position: absolute;
    top: 4px;
    left: 21px;
    width: 0px;
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    color: gray;
    font-weight: bold;
}

a.crop-tab-switch {
    display: none;
}

div.widget-image-crop {
    min-width: 800px;
}